{% extends "investimentos/base_site.html" %}

{% block branding %}

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>

<div id="autocomplete" class="autocomplete" style="margin-left:2%; width: 300px; float: left">
    <input class="autocomplete-input" />
    <ul class="autocomplete-result-list"></ul>
</div>
<div>
  <button class=class style="height:50px; margin-left: 2%; font-size: 24px; border-color:rgba(0,0,0,.12);  border-radius: 8px 8px 8px 8px;}">Adicionar</button>
</div>

<script>
    new Autocomplete('#autocomplete', {
        search: input =>{
            console.log(input)
            const url = `/buscar_acao/?sigla=${input}`
            return new Promise(resolve =>{
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    resolve(data.data)
                })
            })
        }
    })
</script>


{% endblock %}
